/*mobile_css*/
h2 {line-height:1em;}
button {transition-duration:0s;}
.landing {
    padding:5%;
    text-align:left;
    font-size:3em;
}
blockquote span.quote {
    display:none;
}
blockquote {
    margin:10px;
    padding:10px;
}
blockquote span.text {
    width:auto;
}
.mainnavbar {
    position:fixed;
    left:-70%;
    top:0px;
    width:70%;
    height:100%;
    padding-top:50px;
    overflow:hidden;
    background-color:#2D2D2D;
    transition-duration:0.25s;
}
.mainnavbar div#mainnavbarcenter {
    width:0%;
    overflow:hidden;
    height:100%;
    padding-bottom:50px;
    display:inline-block;
}
.mainnavbar_focus {
    left:0%;
    padding-right:0%;
    background-image:none;
    z-index:10;
    height:calc(100% - 50px);
    background-color:#2D2D2D;
}
.mainnavbar_focus div#mainnavbarcenter {
    width:100%;
    overflow-y:auto;
    overflow-x:hidden;
}
.mainnavbar_focus > div > a {
    float:left;
    text-decoration:none;
    color:#C8C8C8;
    display:block;
    width:100%;
}
.mainnavbar_focus > div > a > div:active, .mainnavbar_focus > div > a > div:focus  {
    background-color:rgb(87, 126, 157);
    color:white;
}
.mainnavbar_focus > div > a > div {
    display:block;
    font-size:1.2em;
    padding:10px 10px 10px 40px;
    box-sizing: border-box;
    width: 100%;
    text-align:left;
    background-repeat:no-repeat;
    background-size:30px;
    background-position:5px center;
}
.mainnavbar_focus > div > a > div > button {
    font-size:1em;
    font-family:arial;
    vertical-align:baseline;
    border-radius:3px;
    background-repeat:no-repeat;
    background-position:left center;
    background-image:url(../img/UI/switch.png);
    background-size:cover;
    color:transparent;
    background-color:rgba(255, 255, 255, 0.15);
    border:1px solid rgba(255, 215, 68, 0.66);
    margin:0px 5px;
}
.mainnavbar_focus > div > a > div > button:hover {
    background-color:rgba(255, 255, 255, 0.15);
}
.mainnavbar_focus > div > a > div > button.switched {
    background-position:right center;
}
/*.mainnavbar_focus > div > a[href*="donate"] > div {background-image:url(../img/UI/donate-icon.png);}
.mainnavbar_focus > div > a[href*="server"] > div {background-image:url(../img/UI/server-icon.png);}
.mainnavbar_focus > div > a[href*="wiki"] > div {background-image:url(../img/UI/pickaxediamond.png);}*/
.mainnavbar_focus > div > a > .steam {background-image:url(../img/UI/steam-Icon-mobile.png);}
.mainnavbar_focus > div > a > .youtube {background-image:url(../img/UI/Youtube-Icon-mobile.png);}
.mainnavbar_focus > div > a > .facebook {background-image:url(../img/UI/facebook-Icon-mobile.png);}
.mainnavbar_focus > div > a > .twitter {background-image:url(../img/UI/Twitter-Icon-mobile.png);}
.mainnavbar_focus > div > a > .navbarleapingtiger {background-image:url(../img/UI/leapingtiger.com-icon.png);background-size:28px;background-position:6px center;}
.mainnavbar_focus > div > a > .navbarleapingtiger.current_page_item {background-position: 3px center;}
.mainnavbar_focus > div > a > .current_page_item {
    border-left: 3px solid #FFD744;
    border-right: 3px solid #FFD744;
    padding-left: 37px;
    background-position: 2px center;
}
.mainnavbar_focus > div > a > .current_page_item[class*="navbar"] {
    border-color:initial;
}
.mainmenu_button > span {
    background-image:url(../img/UI/mobile_menu_icon.png);
    background-position:0px center;
    background-size:auto 80%;
    background-repeat:no-repeat;
    transition-duration:0.25s;
    width:80%;
    height:100%;
    float:left;
}
#headerbutton_container div.notifications_button {
    text-align:center;
    float:left;
}
#headerbutton_container a.mobile_logo div {
    text-align:center;
    width:60%;
    color:white;
    cursor:default;
    font-family:"imagine", "Arial";
    line-height: 42px;
    background-image:url(../img/UI/res/lolnet_logo_3_small_light_mbl.png);
    background-size: auto 150%;
    background-position:center center;
    background-repeat:no-repeat;
}
#headerbutton_container a.mobile_logo div > span {
    font-size: 0.4em;
}
.notifications_button span {
    position:absolute;
    border:1px solid white;
    font-size:0.6em;
    width:20px;
    border-radius:20px;    
    height:20px;
    padding:2px;
    background-color:rgb(106, 179, 98);
}
.notifications_menu {
    height:0px;
    width:100%;
    position:fixed;
    background-color:#2D2D2D;
    z-index:499;
    bottom:0px;
    border-bottom:none;
    overflow:hidden;
    overflow-y:auto;
    transition-duration:0.25s;
}
.notifications_menu > span {
    color:white;
    padding:10px;
    font-size:2em;
    border-bottom:1px solid rgb(200, 200, 200);
    display:block;
    margin-top:10px;
}
.notifications_menu > span.body {
    margin:0px;
    padding-top:0px;
}
.notifications_menu > span.body > span {
    display:block;
    font-size:0.8em;
}
.notifications_menu > span.head {
    padding-bottom:5px;
    border-bottom:none;
    font-size:5em;
    font-family:"Raleway", "Gill Sans", "Century Gothic", "Myriad Pro", "Arial";
    border-top:1px solid rgb(200, 200, 200);
    font-weight:bold;
}
div.notifications_menu_is_open {
    border-bottom:15px solid rgb(79, 79, 79);
}
#headerbutton_container {
    box-shadow:0px 5px 45px -5px black;
    background-color:#484848;
    font-size:3em;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    color:white;
    transition-duration:0s;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    margin:0px;
    padding:0px;
    z-index:5000;
    cursor:default;
    text-transform:lowercase;
}
#headerbutton_container div {
    float:left;
    transition-duration:0s;
    width:20%;
    height: 38px;
}
#headerbutton_container div:active {
    background-color:rgb(87, 126, 157);
}
.mainmenu_button.mainmenu_is_activated > span {
    background-position:-10px center;
    padding-left:calc(20% - 10px);
}
.landing img {
    max-width:100%;
}
#wrap > div.footer {
    padding:0px 5%;
    width:90%;
}
#wrap > div.footer > div {
    display:block;
    text-align:left;
    width:100%;
}
#magic-line {
    display:none;
}
div.landing img, button:hover {
    box-shadow:none;
}
/*serverlist*/
#server_container div {
    display:block;
    width:100%;
    transition-duration:0s;
    border-radius:0px;
    float:left;
    font-weight:bold;
}
#server_container > div[class] > h1 {
    line-height:1.2em;
    margin:30px 0px;
}
#server_container div:hover {transform:none;}
#server_container div:active {box-shadow:0px 0px transparent;}
/*end serverlist*/
div.footer button {
    text-transform:uppercase;
    font-size:2em;
    width:100%;
    max-width:100%;
}
.lserverlist > div > div:hover {
    box-shadow:none;
}
.notification_forum {
    font-size:2em;
    margin:20px 10% 0px;
    text-align:center;
    display:inline-block;
    width:80%;
}
.donate table.showcase {min-width:0px;}
.donate table.showcase td {display:block;}
.donate .coinstable {
    margin:10px -35px;
    width:100%;
}
.donate .coinstable td {padding:5px;}
.donate .coinstable td:first-child {
    height:100px;
}
.donate .coinstable td h2 {
    transform:rotate(-90deg);
}
.donate .coinstable tr:nth-child(3) > td:first-child {
    height:80px;
}
.donate .coinstable tr:nth-child(3) > td {
    padding:0px;
}
.donate .coinstable tr:nth-child(3) > td > form > input {
    width:90px;
}
.donate .coinstable tr:nth-child(3) > td > form > table {
    display:none;
}
.leaping-tiger {padding:0px;background-color:#F0F0F0;}
.leaping-tiger > iframe, .leaping-tiger > object{border-radius:0px;}